<div class="row border-bottom" style="border-bottom:8px; border-bottom-color:rgb(255,0,0); margin-bottom:16px">
  <div class="col-8">      
    <div class="mt-1" > 
        <h4 style="color:rgb(120,120,120)"> 
         {{ job['title']}} 
        </h4> 
    </div>
    <div> <b> Location: </b> {{ job['location']}} </div>
        
        {% if job['salary']  %}
          <div> <b> Salary: </b> {{ job['salary']}} </div>
        {% endif %}
  </div>
  <div class="col-4">  
    <a href="mailto:hello@jovian.ai?subject=Application%20for%20the%20post%20of%20{{ job['title']}}&body=Name%3A%20%3CEnter%20your%20name%3E%0D%0AResume%3A%20%3CAttache%20your%20resume%3E%0D%0Alinkedin%3A%20%3CURL%20%3E" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
</div>