<div class="row border-bottom" style="border-bottom:8px; border-bottom-color:rgb(255,0,0); margin-bottom:16px">
  <div class="col-8">      
    <div class="mt-1" > 
        <h4 style="color:rgb(120,120,120)"> 
         {{ job['title']}} 
        </h4> 
    </div>
    <div> <b> Location: </b> {{ job['location']}} </div>
        
        {% if job['salary']  %}
          <div> <b> Salary: </b> {{ job['salary']}} </div>
        {% endif %}
  </div>
  <div class="col-4">  
    <a href="/jobs/{{ job['id']}}" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
</div>